<p>  
  
  <form action="/artist/:id/events/:id" method="get">
  <select name="artist_list">
  <% @all_artists.each do |r| %>
  <option value="<%= r.id %>"><%= r.name %></option>
    <% end %>
  </select>
  
<input type="submit">
</form>

˜</p>

<% @all_events.each do |u| %>
  <%#
    So here, `u` is a User object (meaning it's an *instance* of the
    User class). So we can run *instance* methods on `u`.
  %>

  <p>
    <a href="/artist/<%= u.artist_id %>/events/<%= u.id %>"><%= u.title %></a>
    
    <% end %>